html {
	margin: 0;
	padding: 0;
}
body {
	font: 100%/1.3 Arial, Helvetica, sans-serif;
	color: #222;
	background-color: #fff;
	margin: 1em;
	padding: 0;
}

h1 {
	font-size: 1.5em;
}
li {
	padding: .5em;
	margin: 0 0 .2em;
}
p, pre {
	margin: 0;
}

.info {
	background: #cff;
}
.warning {
	background: #ffc;
}
.error {
	background: #fcc;
}
.type {
	text-transform: capitalize;
}
